@media screen and (max-width: 1050px)
  .fav-page
    padding: 30px 0
  .welcome
    max-width: 700px
    &__left
      max-width: 360px
      margin-top: 45px
    &__title
      font-size: 34px
      line-height: 42px
      text-shadow: -1px -1px 0px #FF267E, 0px 0px 28px #FF267E, 3px 3px 0px #FF267E
    &__subtitle
      font-size: 20px
      margin-top: 20px
    &__btn
      margin-top: 20px
  .info
    max-width: 700px
    padding: 60px 20px 37px 30px
    &__right
      max-width: 410px
    &__left
      max-width: 205px
  .guide
    &__arrow
      max-width: 26px
      margin: 0 27px
    &__list
      flex-direction: column
      align-items: flex-start
      gap: 25px
      &-item
        &:nth-child(2)
          flex-direction: row-reverse

@media screen and (max-width: 705px)
  .welcome
    max-width: 620px
