$blue: #000055
$white: #ffffff
$magenta: #FF267E
$green: #05C48A
$black: #000000
$grey: #AEAEAE
$light-bg: #000022
$dark-bg: #090B18
$dark-bg-blocks: #131931

$font-suisse-intl-reg: SuisseIntl-Regular, sans-serif
$font-suisse-intl-bold: SuisseIntl-Bold, sans-serif
$font-favbet-text-reg: FavbetText-Regular, sans-serif
$font-favbet-text-bold: FavbetText-Bold, sans-serif
$font-press-start2p: PressStart2P, sans-serif



//test
.menu-btn
  position: fixed
  top: 0
  left: 0
  z-index: 20
  width: fit-content
  background: white
  padding: 3px

.menu-test
  position: fixed
  left: 0
  top: 25px
  z-index: 20
  display: flex
  gap: 2px
  flex-direction: column
  & > button
    width: fit-content
    background: white
    color: black
    padding: 2px
    font-family: inherit
    border-radius: 2px

.hide
  display: none !important

picture, img
  display: block !important
  &.hr
    display: block !important
  &.en
    display: none !important

body.light
  background: $blue

picture.light
  display: block

picture.dark
  display: none


body
  overscroll-behavior: none
  -webkit-tap-highlight-color: transparent
  background: $light-bg
  img
    max-width: 100%
    height: auto
  & > *
    font-family: inherit

.title
  color: $white
  font-family: $font-press-start2p
  text-transform: uppercase

.fav-page
  background: $light-bg
  display: flex
  flex-direction: column
  align-items: center
  overflow: hidden
  padding: 40px 0


.btn
  font-family: $font-press-start2p
  font-size: 14px
  line-height: 14px
  color: $blue
  min-width: 245px
  max-width: fit-content
  text-transform: uppercase
  letter-spacing: .01em
  height: 59px
  padding: 10px
  display: flex
  align-items: center
  justify-content: center
  background: url("../img/btn.png") no-repeat 0 0/cover
  background-size: 100% 100%
  transition: background .7s ease-in-out
  position: relative
  &::before
    content: ""
    display: block
    width: 90%
    height: 90%
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    z-index: 0
    pointer-events: none
    box-shadow: 0px 0px 25px rgba(5, 196, 138, 0.5)
  &:hover
    cursor: pointer
    background: url("../img/btn-hover.png") no-repeat 0 0/cover
  &.loader
    color: rgba($blue, .3)
  &.done
    color: $blue
    &::after
      content: ""
      display: block
      margin-left: 10px
      width: 23px
      height: 18px
      background: url("../img/icon-done.png") no-repeat 0 0/contain

.welcome
  display: flex
  align-items: flex-start
  width: 100%
  max-width: 1050px
  justify-content: space-between
  position: relative
  &::after
    content: ""
    min-width: 1370px
    max-width: 1370px
    height: 770px
    display: block
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    z-index: 0
    pointer-events: none
    background: url("../img/welcome/bg-dots.png") no-repeat 0 0/contain
    @media screen and (max-width: 1050px)
      min-width: 770px
      max-width: 770px
      height: 450px
    @media screen and (max-width: 600px)
      min-width: 435px
      max-width: 435px
      height: 560px
  &::before
    content: ""
    display: block
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    z-index: 0
    pointer-events: none
    min-width: 1370px
    max-width: 1370px
    height: 770px
    animation: opacity 2.7s ease-in-out
    background: url("../img/welcome/bg-desc.jpg") no-repeat 0 0/contain
    @media screen and (max-width: 1050px)
      min-width: 770px
      max-width: 770px
      height: 450px
      background: url("../img/welcome/bg-tab.jpg") no-repeat 0 0/contain
    @media screen and (max-width: 600px)
      min-width: 435px
      max-width: 435px
      height: 560px
      background: url("../img/welcome/bg-mob.jpg") no-repeat 0 0/contain
  &__left
    display: flex
    flex-direction: column
    max-width: 470px
    z-index: 1
    margin-top: 65px
  &__right
    width: fit-content
    height: fit-content
    z-index: 1
  &__title
    font-size: 42px
    line-height: 51px
    letter-spacing: -0.05em
    text-shadow: -1px -1px 0px #FF267E, 0px 0px 28px #FF267E, 5px 5px 0px #FF267E
  &__subtitle
    font-size: 28px
    line-height: 28px
    color: $white
    font-family: $font-press-start2p
    text-shadow: 1px $white
    text-transform: uppercase
    letter-spacing: -0.05em
    margin-top: 30px
  &__btn
    margin-top: 30px


.info
  z-index: 2
  display: flex
  align-items: flex-start
  justify-content: space-between
  width: 100%
  max-width: 1040px
  padding: 70px 40px 50px 70px
  mask-image: url("../img/info/bg-desc.png")
  mask-repeat: no-repeat
  mask-position: 0 0
  mask-size: cover
  background-color: $blue
  @media screen and (max-width: 1050px)
    mask-image: url("../img/info/bg-tab.png")

  @media screen and (max-width: 600px)
    mask-image: none
    background: transparent
  &__left
    max-width: 345px
    margin-top: -20px
  &__coin
    display: none
    @media screen and (max-width: 600px)
      display: block
  &__right
    max-width: 470px
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 17px
  &__title, &__bottom
    color: $white
    font-family: $font-press-start2p
    font-size: 16px
    line-height: 26px
    text-transform: uppercase
    letter-spacing: -.05em
  &__bottom
    line-height: 22px
  &__text
    color: $white
    font-family: $font-favbet-text-reg
    font-size: 16px
    line-height: 23px
  &__icons
    display: flex
    align-items: center
    gap: 15px
    &-cup
      display: none
    &-item
      width: 26px
      height: 26px


.guide
  padding: 80px 0 30px 0
  display: flex
  flex-direction: column
  align-items: center
  &__title
    letter-spacing: -.05em
    font-size: 34px
    text-shadow: -1px -1px 0px #FF267E, 0px 0px 13.82px #FF267E, 1.727px 1.727px 0px #FF267E
  &__list
    display: flex
    align-items: center
    margin-top: 60px
    &-item
      display: flex
      align-items: center
  &__step
    display: flex
    align-items: center
    gap: 8px
    position: relative
    padding: 12px 14px
    background: url("../img/guide/item-bg.png") no-repeat 0 0/cover
    background-size: 100% 100%
    &-text
      color: $black
      font-size: 16px
      font-family: $font-favbet-text-reg
    &-icon
      width: 25px
      height: 25px
    &-tag
      background: $green
      color: $blue
      font-size: 14px
      font-family: $font-favbet-text-reg
      border: 1px solid $blue
      padding: 0 8px
      position: absolute
      top: -8px
      left: 14px


.marquee
  overflow: hidden
  font-size: 24px
  padding: 40px 0
  position: relative
  display: flex
  transition: transform .1s ease
  align-items: center
  justify-content: flex-start


  &__inner
    display: flex
    width: fit-content

  &__content
    display: flex
    &-item
      white-space: nowrap
      font-size: 72px
      line-height: 72px
      letter-spacing: -.05em
      font-family: $font-press-start2p
      text-transform: uppercase
      display: flex
      align-items: center
      &::after
        content: ""
        display: block
        width: .25em
        height: .25em
        margin: 0 .45em .1em .28em
        background: #00008A
      span
        font-family: inherit
        color: #00008A
        &:first-child
          color: transparent
          -webkit-text-stroke-width: 2.57px
          -webkit-text-stroke-color: #00008A
        &:not(:first-child)
          margin-left: .4em


.results
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  position: relative
  padding-bottom: 30px
  &__anim
    position: relative
    width: 150px
    height: 80px
    margin-bottom: 20px
    .star
      position: absolute
      width: 16px
      height: 16px
      animation: star-blink 1.5s infinite ease-in-out
      &--left
        bottom: 20px
        left: 25%
        background: url('../img/results/star2.png') no-repeat center/contain
      &--right
        bottom: 30px
        right: 25%
        background: url('../img/results/star1.png') no-repeat center/contain
    .confetti
      position: absolute
      width: 8px
      height: 16px
      background: url('../img/results/confetti-green.png') no-repeat center/contain
      top: -20px
      opacity: 0
      left: calc(12.5% * var(--i))
      animation: confetti-fall 2.5s linear infinite
      animation-delay: calc(var(--delay) * 1s)
      &:nth-child(odd)
        background: url('../img/results/confetti-red.png') no-repeat center/contain
    .trophy
      width: 60px
      height: 60px
      background: url('../img/results/podium.png') no-repeat center/contain
      position: absolute
      bottom: 0px
      left: 50%
      transform: translateX(-50%) scale(0)
      animation: trophy-appear 1s ease-out .5s forwards

  &::before
    content: ""
    display: block
    position: absolute
    top: 50px
    left: 50%
    transform: translate(-50%, 0)
    z-index: 0
    pointer-events: none
    mask-image: url("../img/results/bg-desc.png")
    mask-repeat: no-repeat
    mask-position: 0 0
    mask-size: cover
    background-color: $blue
    width: 615px
    height: 615px
    @media screen and (max-width: 600px)
      mask-image: url("../img/results/bg-mob.png")
      mask-size: 100% 100%
      width: 360px
      height: 625px
      left: 47%
      top: 20px
  &__title
    font-size: 34px
    text-shadow: -1px -1px 0px #FF267E, 0px 0px 13.82px #FF267E, 1.727px 1.727px 0px #FF267E
    z-index: 1
    margin-bottom: 10px

.table
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  width: 405px
  min-height: 440px
  z-index: 1
  &__tabs
    display: flex
    align-items: center
    justify-content: center
    gap: 6px
    margin-bottom: 20px
    &-item
      font-family: $font-suisse-intl-reg
      display: flex
      justify-content: center
      align-items: center
      background: $white
      padding: 4px 17px
      font-size: 16px
      mask-image: url("../img/results/tab.png")
      mask-repeat: no-repeat
      mask-size: 100% 100%
      transition: background-color .4s ease-in-out
      &.active
        background-color: $magenta
      &:hover
        background: $magenta
        cursor: pointer
      span
        font-family: inherit
        margin-right: .3em

  #tableOther
    border: none
    .table
      &__row
        &-item
          border: none
          &::before
            content: none
  &__body
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    border-top: 1px solid $white
    padding-top: 10px
    .table
      &__row
        &:last-child
          .table__row-item
            &::before
              height: 30px
              bottom: 10px
        &-item
          &:nth-child(1)
            font-family: $font-press-start2p
          &:nth-child(4)
            font-family: $font-favbet-text-bold
  &__row
    display: flex
    width: 100%
    align-items: center
    position: relative
    padding: 0 5px
    &:first-child
      .table__row-item
        border: none
        &:not(:last-child)
          &::before
            content: ""
            width: 1px
            height: 50px
            position: absolute
            bottom: 0
            background: $white
    &.you
      background: $white
      .table__row-item
        color: $blue
      .you
        font-family: $font-favbet-text-reg
        text-transform: uppercase
        margin-left: 5px
    &-item
      display: flex
      align-items: center
      justify-content: center
      color: $white
      font-family: $font-suisse-intl-reg
      font-size: 12px
      max-height: 30px
      height: 50px
      &:not(:last-child)
        border-right: 1px solid $white
      &:nth-child(1)
        width: 64px
        justify-content: flex-start
        &::before
          left: 67px
      &:nth-child(2)
        width: 123px
        &::before
          left: 188px
      &:nth-child(3)
        width: 116px
        &::before
          left: 302px
      &:nth-child(4)
        width: 98px
        justify-content: flex-end
        &::after
          content: ""
          display: block
          width: 25px
          height: 25px
          background: url("../img/guide/coin.png") no-repeat 0 0/contain
    &.place1, &.place2, &.place3
      .you
        position: absolute
        left: -7px
        top: 50%
        transform: translate(-100%, -50%)
        color: white
      .table__row-item
        &:nth-child(1)
          &::after
            content: ""
            display: block
            width: 20px
            height: 22px
            margin-left: 5px
    &.place1
      .table__row-item
        &:nth-child(1)
          &::after
            background: url("../img/results/gold.png") no-repeat 0 0/contain
    &.place2
      .table__row-item
        &:nth-child(1)
          &::after
            background: url("../img/results/silver.png") no-repeat 0 0/contain
    &.place3
      .table__row-item
        &:nth-child(1)
          &::after
            background: url("../img/results/bronze.png") no-repeat 0 0/contain
  &__head
    width: 100%
    display: flex
    align-items: center
    .table
      &__row
        &:first-child
          .table__row-item
            border-right: 1px solid $white
            &::before
              content: none
            &:last-child
              border: none
        &-item
          color: rgba($white, .5)
          font-family: $font-favbet-text-reg
          font-size: 10px
          &::after
            content: none


.bottom
  padding: 40px 0
  max-width: 650px

// drop
details summary::-webkit-details-marker
  display: none

.drop
  max-width: 605px
  width: 100%
  margin: 0 auto
  border-radius: 10px
  position: relative
  z-index: 5
  &__bottom-text
    color: $white
    font-size: 10px
    line-height: 16px
    font-family: $font-suisse-intl-reg
    opacity: .9
    text-align: center
    margin-bottom: 15px
  .dropdown[open] summary::before
    transform:  rotate(180deg)
  summary
    list-style: none
    padding: 8px 15px
    font-family: $font-suisse-intl-reg
    font-size: 14px
    cursor: pointer
    background: url("../img/drop-bg.png") no-repeat 0 0/cover
    background-size: 100% 100%
    display: flex
    align-items: center
    justify-content: space-between
    color: $white
    @media screen and (max-width: 600px)
      font-size: 14px
      line-height: 22px
    &::before
      content: ""
      display: block
      min-width: 20px
      height: 12px
      background: url("../img/arrow-drop.png") no-repeat 0 0/contain
      order: 2

  &-txt
    padding: 15px
    margin-top: 10px
    max-height: 350px
    overflow-y: auto
    border: 1px solid $white
    scrollbar-width: auto
    &::-webkit-scrollbar-thumb
      background: $green
      width: 3px
      border-radius: 3px
    &::-webkit-scrollbar
      background: $white
      width: 3px
    &-list
      display: flex
      flex-direction: column
      gap: 15px
      p, strong, a
        font-size: 16px
        line-height: 26px
        font-family: $font-suisse-intl-reg
        color: $white
        @media screen and (max-width: 600px)
          font-size: 14px
          line-height: 22px
      span
        font-family: $font-suisse-intl-reg
        display: block
      tr,td
        font-family: $font-suisse-intl-reg
      td
        padding-left: 5px


.retreat1
  padding-left: 30px
  strong
    font-family: $font-suisse-intl-bold
    color: $white
.circle
  padding-left: 35px
  &:before
    content: ''
    width: 5px
    height: 5px
    background: $white
    border-radius: 50%
    display: inline-block
    margin: 0 4px 2px 0

//en

// dark
body.dark
  picture.light
    display: none

  picture.dark
    display: block

// loader

.spinner-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $white
  display: flex
  justify-content: center
  align-items: center
  z-index: 8

.spinner
  width: 60px
  height: 60px
  background: url("../img/loader.svg") no-repeat 0 0/contain
  animation: scale .7s alternate infinite

.fav-page.loading
  max-height: 100vh
  overflow: hidden


body.dark
  .spinner-overlay
    background: $black

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@keyframes scale
  0%
    transform: scale(.8)
  100%
    transform: scale(1)


// game

.game-container
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background: transparent
  position: relative
  pointer-events: none
  .game-over
    color: white
    font-size: 40px
    white-space: nowrap
    font-family: $font-press-start2p
    text-transform: uppercase
    position: absolute
    left: 50%
    top: 30%
    z-index: 10
    text-shadow: -1px -1px 0px #FF267E, 0px 0px 28px #FF267E, 5px 5px 0px #FF267E
    transform: translate(-50%, -50%)
    animation: neon-flicker 5s
    @media screen and (max-width: 1050px)
      font-size: 30px
      text-shadow: -1px -1px 0px #FF267E, 0px 0px 20px #FF267E, 4px 4px 0px #FF267E
  .targetRow
    display: flex
    align-items: center
    min-width: 515px
    max-width: 515px
    justify-content: space-between
    margin-bottom: 15px
    @media screen and (max-width: 1050px)
      min-width: 315px
      max-width: 315px
      margin-bottom: 8px
    &.cup
      .target
        width: 50px
        height: 54px
        background: url("../img/welcome/cup.png") no-repeat 0 0/contain
        @media screen and (max-width: 1050px)
          width: 31px
          height: 33px
    &.rocket
      .target
        width: 61px
        height: 59px
        background: url("../img/welcome/rocket.png") no-repeat 0 0/contain
        @media screen and (max-width: 1050px)
          width: 38px
          height: 37px
    &.redball
      .target
        width: 44px
        height: 44px
        background: url("../img/welcome/redball.png") no-repeat 0 0/contain
        @media screen and (max-width: 1050px)
          width: 28px
          height: 28px
          background: url("../img/welcome/redball.png") no-repeat 0 0/contain
    &.greenball
      .target
        width: 44px
        height: 44px
        background: url("../img/welcome/greenball.png") no-repeat 0 0/contain
        @media screen and (max-width: 1050px)
          width: 28px
          height: 28px
          background: url("../img/welcome/greenball.png") no-repeat 0 0/contain
    &.greenball, &.redball, &.rocket, &.cup
      .target.hideTarget
        background: url("../img/welcome/fire.png") no-repeat 0 0/contain
        opacity: 0
        animation: destroyTarget .5s ease-in-out
  .ship
    margin-top: 95px
    width: 59px
    height: 45px
    align-self: flex-start
    position: relative
    background: url("../img/welcome/ship.png") no-repeat 0 0/contain
    @media screen and (max-width: 1050px)
      margin-top: 125px
      width: 37px
      height: 28px
  .bullet
    position: absolute
    width: 5px
    background: white
    bottom: 0
    z-index: 0



@keyframes marquee
  0%
    transform: translateX(0%)
  100%
    transform: translateX(-30%)


@keyframes star-blink
  0%, 100%
    opacity: 0.2
    transform: scale(1)
  50%
    opacity: 1
    transform: scale(1.2)

@keyframes confetti-fall
  0%
    transform: translateY(0) rotate(0deg)
    opacity: 1
  100%
    transform: translateY(200px) rotate(360deg)
    opacity: 0


@keyframes trophy-appear
  0%
    transform: translateX(-50%) scale(0)
    opacity: 0
  60%
    transform: translateX(-50%) scale(1.2)
    opacity: 1
  100%
    transform: translateX(-50%) scale(1)

@keyframes opacity
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes destroyTarget
  0%
    opacity: 1
    transform: scale(.8)

  100%
    opacity: 0
    transform: scale(1.9)

@keyframes neon-flicker
  0%, 18%, 22%, 25%, 53%, 57%, 100%
    opacity: 1
    text-shadow: -1px -1px 0px #FF267E, 0px 0px 28px #FF267E, 5px 5px 0px #FF267E

  19%, 21%, 24%, 54%, 56%
    opacity: 0.4
    text-shadow: none


//coins animations

@keyframes coin1
  0%, 100%
    background: url("../img/info/coin-frame1.png") no-repeat 0 0 / contain
  16.66%
    background: url("../img/info/coin-frame2.png") no-repeat 0 0 / contain
  33.33%
    background: url("../img/info/coin-frame3.png") no-repeat 0 0 / contain
  50%
    background: url("../img/info/coin-frame4.png") no-repeat 0 0 / contain
  66.66%
    background: url("../img/info/coin-frame5.png") no-repeat 0 0 / contain
  83.33%
    background: url("../img/info/coin-frame6.png") no-repeat 0 0 / contain

@keyframes coin2
  0%, 100%
    background: url("../img/info/coin-frame2.png") no-repeat 0 0 / contain
  16.66%
    background: url("../img/info/coin-frame3.png") no-repeat 0 0 / contain
  33.33%
    background: url("../img/info/coin-frame4.png") no-repeat 0 0 / contain
  50%
    background: url("../img/info/coin-frame5.png") no-repeat 0 0 / contain
  66.66%
    background: url("../img/info/coin-frame6.png") no-repeat 0 0 / contain
  83.33%
    background: url("../img/info/coin-frame1.png") no-repeat 0 0 / contain

@keyframes coin3
  0%, 100%
    background: url("../img/info/coin-frame3.png") no-repeat 0 0 / contain
  16.66%
    background: url("../img/info/coin-frame4.png") no-repeat 0 0 / contain
  33.33%
    background: url("../img/info/coin-frame5.png") no-repeat 0 0 / contain
  50%
    background: url("../img/info/coin-frame6.png") no-repeat 0 0 / contain
  66.66%
    background: url("../img/info/coin-frame1.png") no-repeat 0 0 / contain
  83.33%
    background: url("../img/info/coin-frame2.png") no-repeat 0 0 / contain

@keyframes coin4
  0%, 100%
    background: url("../img/info/coin-frame4.png") no-repeat 0 0 / contain
  16.66%
    background: url("../img/info/coin-frame5.png") no-repeat 0 0 / contain
  33.33%
    background: url("../img/info/coin-frame6.png") no-repeat 0 0 / contain
  50%
    background: url("../img/info/coin-frame1.png") no-repeat 0 0 / contain
  66.66%
    background: url("../img/info/coin-frame2.png") no-repeat 0 0 / contain
  83.33%
    background: url("../img/info/coin-frame3.png") no-repeat 0 0 / contain


@keyframes coin5
  0%, 100%
    background: url("../img/info/coin-frame5.png") no-repeat 0 0 / contain
  16.66%
    background: url("../img/info/coin-frame6.png") no-repeat 0 0 / contain
  33.33%
    background: url("../img/info/coin-frame1.png") no-repeat 0 0 / contain
  50%
    background: url("../img/info/coin-frame2.png") no-repeat 0 0 / contain
  66.66%
    background: url("../img/info/coin-frame3.png") no-repeat 0 0 / contain
  83.33%
    background: url("../img/info/coin-frame4.png") no-repeat 0 0 / contain

@keyframes coin6
  0%, 100%
    background: url("../img/info/coin-frame6.png") no-repeat 0 0 / contain
  16.66%
    background: url("../img/info/coin-frame1.png") no-repeat 0 0 / contain
  33.33%
    background: url("../img/info/coin-frame2.png") no-repeat 0 0 / contain
  50%
    background: url("../img/info/coin-frame3.png") no-repeat 0 0 / contain
  66.66%
    background: url("../img/info/coin-frame4.png") no-repeat 0 0 / contain
  83.33%
    background: url("../img/info/coin-frame5.png") no-repeat 0 0 / contain

// DARK

body.dark
  background-color: $dark-bg
  .fav-page
    background-color: $dark-bg
  .welcome
    &::before
      background: url("../img/welcome/bg-desc-dark.jpg") no-repeat 0 0/contain
      @media screen and (max-width: 1050px)
        background: url("../img/welcome/bg-tab-dark.jpg") no-repeat 0 0/contain
      @media screen and (max-width: 600px)
        background: url("../img/welcome/bg-mob-dark.jpg") no-repeat 0 0/contain
    &__left
      &::before
        background: url("../img/welcome/logo-mob-dark.png") no-repeat 0 0/contain
  .info
    background-color: $dark-bg-blocks
    @media screen and (max-width: 600px)
      background-color: transparent
      &::before
        background-color: $dark-bg-blocks
  .marquee
    &__content
      &-item
        &::after
          background: $dark-bg-blocks
        span
          color: $dark-bg-blocks
          &:first-child
            color: transparent
            -webkit-text-stroke-color: $dark-bg-blocks
  .results
    &::before
      background-color: $dark-bg-blocks
